body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.red-border {
  border: red solid 5px;
}

.blue-border {
  border: blue solid 5px;
}

.green-border {
  border: green solid 5px;
}

.yellow-border {
  border: yellow solid 1px;
}

.orange-border {
  border: solid orange 5px; 
}