body {
  font-family: sans-serif;
  margin: auto;
}

html,
body,
#root {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}


h2 {
  /* font size is wonky so to fix use the following */
  font-size: 1em;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5% 5% 5% 5%;
  box-sizing: border-box;
}